* {
  box-sizing: border-box;
}



.errorLabelHidden{
  Display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  visibility: hidden;
}

.errorLabelVisible{
  Display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  visibility: visible;
}